.container {
  padding: 80px 20px 60px 20px;
  position: relative;
}

.desc {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.salam {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: var(--secondaryColor);
}

.supported {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.myLink {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  z-index: 10;
}