.container {
  margin-top: 80px;
  padding: 20px;
  margin-bottom: 80px;
}

.desc {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.salam {
  margin-top: 24px;
  font-size: 18px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: var(--secondaryColor);
}