.container {
  position: fixed;
  top: calc(100vh - 44px);
  left: 5%;
  width: 90%;
  height: 44px;
  border-radius: 16px 16px 0 0;
  background-color: var(--secondaryColor);
  z-index: 999;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: black;
  font-weight: 500;
}